.box1 {
	background-color: #FCF5C4;
	width: 80%;
	height: 40px;
	margin: 0 auto 15px auto;
	padding: 20px;
	border: 1px solid #aaa;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	border-radius: 10px 10px 0 0;
	behavior: url(css/pie.htc);
}

.box2{
	height: 100px;  
    width: 100px;  
    background-color: #2ecc71;  
    -webkit-border-radius: 50px;  
    -moz-border-radius: 50px;  
    border-radius: 50px;  
    behavior: url(css/pie.htc);  
}

.box3{
	height: 100px;  
    width: 100px;  
    background-color: #4EF1B7;  
    -webkit-border-radius: 20px 0 0 0;  
    -moz-border-radius: 20px 0 0 0;  
    border-radius: 20px 0 0 0;  
    behavior: url(css/pie.htc);  
}

